@media screen and (min-width: 851px) {
  #hamburger {
    display: none;
  }

  nav {
    padding: 0 65px;
    justify-content: space-between;
    flex-direction: row;
  }
  nav .logo {
    cursor: pointer;
  }
  nav .max-width > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .max-width > ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: 25px;
  }
  nav .max-width > ul li a {
    text-align: center;
  }
  nav .max-width > ul li:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 850px) {
  body.lock {
    overflow: hidden;
  }

  .navbar {
    background-color: var(--main-color) !important;
    top: 0 !important;
    height: 100vh;
    padding-bottom: 50px;
    transition: transform 0.8s ease;
    transform: translateY(0);
  }
  .navbar:not(.show) {
    transform: translateY(-100%);
  }
  .navbar .max-width {
    flex-direction: column;
  }
  .navbar .max-width .logo {
    height: 75px;
  }
  .navbar .max-width .nav-links-list {
    flex-direction: column;
    margin: 75px 0;
  }
  .navbar .max-width .nav-links-list .nav-link {
    margin-right: 0;
    font-size: 18px;
  }
  .navbar .max-width .nav-links-list .nav-link:not(:last-child) {
    margin-bottom: 25px;
  }

  .container-12939-256 > .max-width > div:nth-child(2) > form > div > input:nth-child(1) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 801px) and (max-width: 1150px) {
  .container-95128 .max-width .items-wrapper .item > div {
    padding: 0 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .container-95128 .max-width .items-wrapper .item > div .item__title {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 19px;
  }
  .container-95128 .max-width .items-wrapper .item > div .item__subtitle {
    margin-bottom: 10px;
  }

  .navbar .logo {
    height: 26px;
  }
  .navbar .nav-link {
    font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  body.lock {
    overflow: hidden;
  }

  nav {
    height: 100vh;
    padding-bottom: 50px;
    background-color: var(--main-color);
    transition: transform 0.8s ease;
    transform: translateY(0);
  }
  nav:not(.show) {
    transform: translateY(-100%);
  }

  .container-12939 > .max-width {
    flex-direction: column;
  }
  .container-12939 > .max-width > div:nth-child(2) {
    margin-top: 65px;
    margin-right: 0;
  }
  .container-12939 > .max-width > div:nth-child(2) > img {
    max-width: 100%;
  }

  .container-12939 > .max-width {
    margin: 65px 0;
  }
  .container-12939 > .max-width > div:nth-child(1) {
    max-width: 100%;
  }

  .container-95128 .items-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .container-95128 .items-wrapper .item:not(:last-child) {
    margin-bottom: 75px;
  }
  .container-95128 .items-wrapper .item > div {
    margin-top: -160px;
    margin-left: 90px;
    margin-right: 90px;
  }
  .container-95128 .items-wrapper .item > div .item__title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .container-95128 .items-wrapper .item > div .item__subtitle {
    font-size: 14px;
  }
  .container-95128 .items-wrapper .item > div .item__link {
    font-size: 14px;
  }

  #technology .items-wrapper {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  #technology .items-wrapper .item124:not(:last-child) {
    margin-bottom: 50px;
  }
  #technology .items-wrapper .item124 .item124__title {
    font-size: 22px;
    margin-top: 12px;
  }
  #technology .items-wrapper .item124 .item124__subtitle {
    font-size: 14px;
    margin-top: 24px;
  }

  .container-12939-256 > .max-width {
    align-items: center;
  }
  .container-12939-256 > .max-width > div:nth-child(1) {
    text-align: center;
  }
  .container-12939-256 > .max-width > div:nth-child(2) {
    width: 100%;
    margin-top: 35px;
  }
  .container-12939-256 > .max-width > div:nth-child(2) > form > div > input:nth-child(1) {
    margin-right: 15px;
  }

  .footer .max-width {
    margin-top: 65px;
  }
  .footer .max-width .footer__fields {
    flex-wrap: wrap;
  }
  .footer .max-width .footer__fields .footer__field {
    flex-basis: 50%;
  }
  .footer .max-width .footer__fields .footer__field:nth-child(1), .footer .max-width .footer__fields .footer__field:nth-child(2) {
    margin-bottom: 50px;
  }
  .footer .max-width .footer__fields .footer__field .field__title {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .footer .max-width .footer__fields .footer__field .field__content :is(li, a, span) {
    font-size: 14px;
  }
  .footer .max-width .footer__fields .footer__field .field__content > p {
    font-size: 14px;
  }
  .footer .max-width .footer__fields .footer__field .field__title,
.footer .max-width .footer__fields .footer__field .field__content {
    text-align: center;
  }
  .footer .max-width .footer__fields .footer__field .field__links {
    margin-top: 15px;
  }
  .footer .max-width .footer__copyright {
    margin-top: 60px;
  }
}
@media screen and (max-width: 750px) {
  .header__title {
    font-size: 64px;
  }
  .header__subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 600px) {
  .header__title {
    font-size: 56px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 34px;
  }

  .input-field {
    padding-left: 20px;
  }
}
@media screen and (max-width: 550px) {
  .container-95128 .items-wrapper .item > div {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -130px;
  }
  .container-95128 .items-wrapper .item > div .item__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .container-95128 .items-wrapper .item > div .item__subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .container-95128 .items-wrapper .item > div {
    padding: 0 10px;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: -120px;
  }
  .container-95128 .items-wrapper .item > div .item__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .container-95128 .items-wrapper .item > div .item__subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 48px;
  }
  .header__subtitle {
    line-height: 30px;
  }

  .navbar .max-width .logo {
    height: 50px;
  }
}
@media screen and (max-width: 450px) {
  .header__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 400px) {
  .header__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 350px) {
  .header__title {
    font-size: 34px;
  }
  .header__subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .navbar .max-width .logo {
    height: 35px;
  }
}
@media screen and (max-width: 300px) {
  .header__title {
    font-size: 30px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .container-12939 > .max-width > div:nth-child(1) .container-12939__title {
    font-size: 30px;
    line-height: 35px;
  }

  .container-12939-256 > .max-width > div:nth-child(2) > form .input-field {
    padding-left: 10px;
  }
  .container-12939-256 > .max-width > div:nth-child(2) > form .form__split {
    flex-direction: column;
  }
  .container-12939-256 > .max-width > div:nth-child(2) > form .form__split input:nth-child(2) {
    margin-top: 24px;
  }
  .container-12939-256 > .max-width > div:nth-child(2) > form .button {
    width: 100%;
  }
}
/* MAX WIDTH */
@media screen and (max-width: 1300px) {
  :root {
    --max-width: 1050px;
    --container-img-rm: 65px;
  }
}
@media screen and (max-width: 1150px) {
  :root {
    --max-width: 900px;
    --container-img-rm: 25px;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --max-width: 750px;
  }
}
@media screen and (max-width: 850px) {
  :root {
    --max-width: 700px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --max-width: 550px;
    --container-img-rm: 0px;
  }
}
@media screen and (max-width: 750px) {
  :root {
    --max-width: 500px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --max-width: 450px;
  }
}
@media screen and (max-width: 550px) {
  :root {
    --max-width: 350px;
  }
}
@media screen and (max-width: 450px) {
  :root {
    --max-width: 300px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --max-width: 250px;
  }
}
@media screen and (max-width: 300px) {
  :root {
    --max-width: 200px;
  }
}

/*# sourceMappingURL=media.css.map */
