@import url(../fonts/Lato.css);

@import 'null.scss';

:root {
	--max-width: 1100px;
	--container-img-rm: 95px;
	--main-color: #ed4c5c;
	--font-family: 'Lato';
	--hamburger-animation-speed: 0.8s;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 5px;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: auto;
	width: 100%;
	overflow: overlay;
}

.max-width {
	max-width: var(--max-width);
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#hamburger {
	z-index: 25;
	cursor: pointer;
	position: fixed;
	width: 23px;
	height: 23px;

	top: 50px;
	left: 50px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	> div {
		height: calc(100% / 3 / 2);
		width: 100%;
		background-color: #111;

		&:nth-child(1) {
			animation: outT var(--hamburger-animation-speed) forwards;
		}

		&:nth-child(2) {
			animation: outM var(--hamburger-animation-speed) forwards;
			background-color: var(--main-color);
		}

		&:nth-child(3) {
			animation: outBtm var(--hamburger-animation-speed) forwards;
		}
	}

	@keyframes outT {
		0% {
			transform: translateY(10px) rotate(45deg) scale(1.1);
		}
		50% {
			transform: translateY(10px) rotate(0deg) scale(1.1);
		}
		100% {
			transform: translateY(0px) rotate(0deg);
		}
	}
	@keyframes inT {
		0% {
			transform: translateY(0px) rotate(0deg);
		}
		50% {
			transform: translateY(10px) rotate(0deg) scale(1.1);
		}
		100% {
			transform: translateY(10px) rotate(45deg) scale(1.1);
		}
	}
	@keyframes outBtm {
		0% {
			width: 100%;
			transform: translateY(-10px) rotate(-45deg) scale(1.1); /* or 135deg */
		}
		50% {
			width: 100%;
			transform: translateY(-10px) rotate(0deg) scale(1.1);
		}
		100% {
			width: 50%;
			transform: translateY(0px) rotate(0deg);
		}
	}
	@keyframes inBtm {
		0% {
			transform: translateY(0px) rotate(0deg);
			width: 50%;
		}
		50% {
			transform: translateY(-10px) rotate(0deg) scale(1.1);
			width: 100%;
		}
		100% {
			transform: translateY(-10px) rotate(-45deg) scale(1.1); /* or 135deg */
		}
	}
	@keyframes outM {
		0% {
			width: 0%;
		}
		18% {
			width: 0%;
		}
		20% {
			width: 100%;
		}
		100% {
			width: 100%;
		}
	}
	@keyframes inM {
		0% {
			width: 100%;
		}
		15% {
			width: 100%;
		}
		50% {
			width: 0%;
		}
		100% {
			width: 0%;
		}
	}

	&.opened {
		> div:nth-child(2) {
			animation: inM var(--hamburger-animation-speed) forwards;
		}

		> div:nth-child(1) {
			animation: inT var(--hamburger-animation-speed) forwards;
		}

		> div:nth-child(3) {
			animation: inBtm var(--hamburger-animation-speed) forwards;
			transition: width calc(var(--hamburger-animation-speed) * 2);
		}
	}
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	z-index: 20;
	height: 75px;
	top: 17px;
	position: fixed;

	.logo {
		height: 29px;
	}

	.nav-links-list {
		height: 100%;
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.nav-link {
			height: 100%;
			display: flex;
			align-items: center;
			margin-right: 25px;

			&:last-child {
				margin-right: 0;
			}

			a {
				text-decoration: none;
				color: #fff;
			}

			&.active {
				font-weight: bold;
			}
		}
	}
}

.button {
	border-radius: 6px;
	background-color: transparent;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	border: 1px solid #fff;
	padding: 12px 29px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100vh;
	background: url('../assets/headerBackground.png') no-repeat center / cover;

	.max-width {
		flex-direction: column;
	}

	p {
		color: #fff;
	}

	&__title {
		font-size: 72px;
		letter-spacing: 0.05em;
	}

	&__subtitle {
		margin-top: 40px;
		margin-bottom: 60px;

		font-weight: 400;
		line-height: 36px;
		max-width: 470px;
		font-size: 24px;
		text-align: center;
	}

	.button {
		color: var(--main-color);
		background-color: #fff;
		padding: 16px 52px;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.container-12939 > .max-width {
	margin: 95px 0;

	> div:nth-child(1) {
		max-width: 445px;
		flex-basis: calc(50% - 35px);

		p {
			color: #000;
		}

		.container-12939__title {
			font-size: 36px;
			font-weight: 600;
			margin-bottom: 45px;
			line-height: 43px;
		}

		.container-12939__subtitle {
			margin-bottom: 20px;
			line-height: 20px;
		}

		.container-12939__subtitle,
		a {
			font-size: 14px;
			text-align: justify;
		}

		a {
			color: var(--main-color);
		}
	}

	> div:nth-child(2) {
		flex-basis: calc(50% - 35px - var(--container-img-rm));
		margin-right: var(--container-img-rm);
		border-radius: 17px;

		img {
			max-width: 445px;
			border-radius: 17px;
			height: 100%;
			width: 100%;
		}
	}
}

.container-95128 {
	background-color: #fafafa;

	.max-width {
		// justify-content: space-evenly;
		flex-direction: column;
		justify-content: start;
	}

	&__title {
		margin-top: 63px;

		font-weight: 600;
		font-size: 36px;
		text-align: center;
		color: #000;
	}

	.items-wrapper {
		margin-top: 80px;
		margin-bottom: 80px;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		width: 100%;

		.item {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: nowrap;
			flex-basis: 30%;

			img {
				width: 100%;
				border-radius: 8px;
			}

			div {
				padding: 0 20px;
				padding-top: 35px;
				padding-bottom: 25px;

				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: column;
				background-color: #fff;
				box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
				border-radius: 8px;

				margin-top: -77.5px;
				margin-left: 30px;
				margin-right: 30px;

				span,
				a {
					color: #101010;
					width: 100%;
					text-align: center;
					line-height: 18px;
				}

				.item__title {
					font-size: 18px;
					font-weight: 700;
					margin-bottom: 20px;
					line-height: 22px;
				}

				.item__subtitle {
					font-size: 12px;
					margin-bottom: 30px;
				}

				.item__link {
					color: var(--main-color);
					font-weight: 700;
					font-size: 12px;
				}
			}
		}
	}
}

#technology {
	background-color: #fff;

	.items-wrapper {
		margin-bottom: 100px;
	}
}

.item124 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	flex-basis: calc(100% / 4 - 20px * 3);

	> svg {
		margin-top: -52.5px;
	}

	.item124__num,
	.item124__title,
	.item124__subtitle {
		text-align: center;
	}

	.item124__num {
		font-weight: 700;
		font-size: 100px;
		color: rgba(16, 16, 16, 0.08);
	}

	.item124__title {
		font-weight: 700;
		font-size: 18px;
		color: #101010;
	}

	.item124__subtitle {
		font-size: 12px;
		margin-top: 12.5px;
		line-height: 14px;
	}
}

.container-12939-512 {
	background: var(--main-color);

	.max-width > div:nth-child(1) {
		p {
			color: #fff;
		}

		.container-12939__subtitle {
			margin-bottom: 45px;
		}
		> div > svg:nth-child(2) {
			margin: 0 23px;
		}
	}
}

.input-field {
	border: 1px solid #333333;
	border-radius: 6px;
	height: 60px;
	width: 100%;
	padding: 20px 0;
	padding-left: 30px;

	&::placeholder {
		font-size: 16px;
		color: rgba(19, 39, 67, 0.5);
		border-radius: 6px;
	}
}

.container-12939-256 > .max-width {
	align-items: flex-start;
	margin-top: 117px;

	> div:nth-child(1) .container-12939__subtitle {
		margin-top: 0;
	}

	> div:nth-child(2) {
		flex-basis: calc(50% - 35px);
		margin-right: 0;

		> form {
			> div {
				display: flex;
				max-width: 100%;

				> input {
					margin-top: 0;

					&:nth-child(1) {
						margin-right: 30px;
					}
				}
			}

			> input {
				margin-top: 24px;
			}

			> button {
				margin-top: 27px;
			}

			.button {
				color: #fff;
				background-color: var(--main-color);
				padding: 16px 34px;
			}
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #fafafa;

	.max-width {
		margin-top: 85px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__fields {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}

	&__field {
		flex-basis: calc(25% - 4 * 10px);
		display: flex;
		flex-direction: column;
		align-items: center;

		.field__title {
			font-weight: 700;
			font-size: 18px;
			text-align: start;
			color: #101010;
			width: 100%;
			margin-bottom: 33px;
		}

		.field__content {
			width: 100%;

			p,
			li,
			a,
			span {
				font-size: 12px;
				color: #101010;
			}

			a:hover {
				text-decoration: underline;
			}

			p:nth-child(2) {
				margin: 5px 0;
			}

			img {
				height: 31px;
				width: 100%;
			}

			ul {
				list-style-type: none;

				li {
					cursor: pointer;

					&:nth-child(2),
					&:nth-child(4) {
						margin: 5px 0;
					}
				}
			}

			.field__links {
				margin-top: 20px;

				svg {
					cursor: pointer;

					&:nth-child(2) {
						margin: 0 12px;
					}
				}
			}
		}
	}

	&__copyright {
		margin-top: 90px;
		margin-bottom: 45px;
		font-size: 12px;
		color: #101010;
	}
}

/* MEDIA */

// @media screen and (max-width: 1050px) {
// 	.container-12939 {
// 		justify-content: center;
// 		flex-direction: column-reverse;

// 		> div:nth-child(1) {
// 			margin-top: 50px;
// 			max-width: 550px;
// 		}

// 		> div:nth-child(2) {
// 			width: 550px;
// 			height: auto;
// 			object-fit: contain;
// 		}
// 	}

// 	.container-95128 .items-wrapper,
// 	.container-95128 .items-wrapper124 {
// 		margin-top: 20px;
// 	}

// 	.container-95128__title {
// 		margin-top: 43px;
// 	}

// 	.container-95128#features {
// 		.items-wrapper {
// 			flex-direction: column;
// 			justify-content: center;

// 			.item {
// 				width: 350px;

// 				img {
// 					width: 450px;
// 					height: auto;
// 					vertical-align: middle;
// 				}

// 				div {
// 					height: 200px;
// 				}

// 				&:nth-child(1),
// 				&:nth-child(2) {
// 					margin-bottom: 50px;
// 				}
// 			}
// 		}
// 	}

// 	.items-wrapper.items-wrapper124 {
// 		flex-direction: row;
// 		flex-wrap: wrap;
// 		justify-content: space-evenly;
// 		align-items: center;
// 	}

// 	.item124:nth-child(2),
// 	.item124:nth-child(3) {
// 		margin: 0;
// 	}

// 	// .item124:nth-child(3),
// 	// .item124:nth-child(4) {
// 	// 	margin-top: 50px;
// 	// }

// 	#contact {
// 		flex-direction: column;
// 		padding-top: 0;
// 		justify-content: flex-start;
// 		align-items: center;

// 		div {
// 			text-align: center;
// 			display: flex;
// 			flex-direction: column;
// 			align-items: stretch;
// 			justify-content: center;

// 			form {
// 				display: flex;
// 				flex-direction: column;
// 				align-items: stretch;
// 				justify-content: center;

// 				.form__split {
// 					display: flex;
// 					align-items: stretch;
// 					justify-content: center;
// 					flex-direction: row;
// 				}
// 			}
// 		}
// 	}

// 	.footer {
// 		align-items: flex-start;
// 		justify-content: center;
// 		flex-wrap: wrap;
// 		padding-top: 50px;

// 		.field__title,
// 		.footer__field {
// 			text-align: center;
// 			margin-bottom: 15px;
// 		}
// 		&__field {
// 			flex-basis: 50%;
// 			margin-bottom: 0;
// 		}

// 		&__copyright {
// 			bottom: 30px;
// 		}
// 	}
// }
